@{
    ViewData["Title"] = "Início";
}

<div class="text-center mt-5">

    <h1 class="display-3 fw-bold">
        🏋️ Uni Gym Fitness
    </h1>

    <p class="lead mt-4">
        Muito mais que uma academia.
        Um lugar para transformar hábitos,
        superar limites e alcançar seus objetivos.
    </p>

    <a href="#" class="btn btn-dark btn-lg mt-3">
        Conheça nossos planos
    </a>

</div>